body{
    background-color: #10d98f;
}

.section-top{
    height: 85vh;
    width: 100%;
    position: relative;
}

.conteniner-top{
    width: 100%;
    height: 100%;
    display: flex;
}

.img-top{
    display: flex;
    width: 87%;
    height: 100%;
}

.img-top>img{
    width: 70%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(80%);
}

.contenido{
    width: 400px;
    height: 300px;
    background-color: #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 9;
}
.contenido::before{
    content: "";
    display: inline-flex;
    height: 100%;
    width: 100px;
    background-color: #00ff8896;
    position: absolute;
    left: -100px;
}

.contenido>h2{
    padding: 20px;
    font-size: 30px;
}

.contenido>h2::after{
    content: "";
    display: flex;
    height: 5px;
    width: 150px;
    background-color: #00ff88e7;
    position: relative;
    top: -5px;
}

.contenido>p{
    padding-left: 20px;
    padding-right: 20px;
}

.btn-leer-mas{
    position: relative;
    background: #04e790;
    width: 200px;
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    left: 20%;
    box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #fff;
}

.btn-text{
    top: 22%;
}

/*Redes sociales*/
.redes-sociales {
	position: relative;
	justify-content: space-between;
	display: flex;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    bottom: 50px;
    right: 90px;
}

.redes-sociales i {
	font-size: 80px;
	color: #fafafa;
    margin-right: 20px;
}

.redes-sociales>i:hover {
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	background-color: #fff;
	color: #04e790;
	border-radius: 20%;
}

.about-us{
    height: 70vh;
}

.btn-leer-mas:hover{
    background-color: #fff;
    color: #04e790;
}